.App {
    text-align: center;
}

.answer {
  text-align: left;
  padding:3%;
  box-sizing:border-box;
  width: 400px;
  min-height: 100px;
  border: 1px solid #222;
  font-size: 20pt;
  word-break:break-all;
}

.btn-group {
    width: 300px;
    display: inline-block;
    vertical-align: bottom;
}

.btn-group .btns {
    outline: none;
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid #222;
    box-sizing: border-box;
    background-color: white;
    font-size: 20pt;
}

.btn-group .btns:active {
    background-color: #222;
}

.btn-group .btn-option {
    outline: none;
    cursor: pointer;
    width:50%;
    height: 100px;
    border: 1px solid #222;
    background-color: rgb(225, 170, 247);
    font-size: 20pt;
}

.btn-group .btn-option:active {
  background-color:rgb(115, 37, 146);
}

.btn-side-option {
    width: 100px;
    display: inline-block;
}

.btn-side-option .option-btns {
    outline: none;
    cursor: pointer;
    width:100px;
    height: 100px;
    border: 1px solid #222;
    font-size: 20pt;
    background-color: rgb(225, 170, 247);
}

.btn-side-option .option-btns:active {
    background-color:rgb(115, 37, 146);
}